:root{
    --pokedex-backround : rgb(194, 194, 194);
    --pokemon-background : rgb(70, 70, 75);
    --pokemon-background-hover : rgb(131, 28, 28);
    --namePokmon : white;
    --fire: #F08030;
    --water: #6890F0;
    --grass: #78C850;
    --electric: #F8D030;
    --psychic: #F85888;
    --ice: #98D8D8;
    --dragon: #7038F8;
    --dark: : #705848;
    --fairy: #EE99AC;
    --normal: #A8A878;
    --fighting: #C03028;
    --flying: #A890F0;
    --poison: #A040A0;
    --ground: #E0C068;
    --rock: #B8A038;
    --bug: #A8B820;
    --ghost: #705898;
    --steel: #B8B8D0;
}

.water {
    background-color: var(--water);
}

.fire {
    background-color: var(--fire);
}

.grass {
    background-color: var(--grass);
}
.electric {
    background-color: var(--electric);
}
.psychic {
    background-color: var(--psychic);
}
.ice {
    background-color: var(--ice);
}
.dragon {
    background-color: var(--dragon);
}
.dark {
    background-color: var(--dark);
}
.fairy {
    background-color: var(--fairy);
}
.normal {
    background-color: var(--normal);
}
.fighting {
    background-color: var(--fighting);
}
.flying {
    background-color: var(--flying);
}
.poison {
    background-color: var(--poison);
}
.ground {
    background-color: var(--ground);
}

.rock {
    background-color: var(--rock);
}

.bug {
    background-color: var(--bug);
}

.ghost {
    background-color: var(--ghost);
}
.steel {
    background-color: var(--steel);
}



#leave{
    height: 50px;
    width: 50px;
    left: 76.5%;
    position: fixed;
    transition: 0.4s ease-in-out;
    border: black solid 1px;
}

#leave:hover{
    transform: scale(1.05);
    cursor: pointer;
}

ul {
    list-style: none;
}


p, h5, h6, li {
    user-select: none;
}

section{
    width: 100%;
    height: 100%;
}

#vuePokemonDetail{
    width: 100%;
    height: 100%;
}   

.pokemonCard {
    width: 400px;
    height: 400px;
    background-color: rgb(180, 156, 156);
}

.pokemonCard header {
    width: 35%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.namePokemonCard {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    padding-right: 20px;
}

.idPokemonCard {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1rem;
    margin-top: 2px;
}


.contentCard{
    width: 90%;
    height: 90%;
    padding: 0 5% 0 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "img img img caracs caracs" 
    "img img img caracs caracs" 
    "img img img caracs caracs"
    "weakness weakness weakness type type"
    "weakness weakness weakness type type";
    gap: 5px;
}

.imgPokeCard{
    grid-area: img;
    width: 100%;
    max-height: 100%;
    background-color: var(--pokemon-background);
}


.pokeCaracs{
    background-color: #30a7d7;
    grid-area: caracs;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.contentCard section {
    border-radius: 7px;
}

.caracSection{
    margin-top: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: var(--namePokmon);
}

.caracSection p{
    color: black;
    text-align: center;
    font-size: 0.85rem;
}

.pokeType ul {
    display: grid;
    height: 90%;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
}

.pokeType h5, .pokeWeaknesses h5{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}

.pokeType ul .item{
    width: 65%;
    height: 50%;
}

.item {
    width: 70px;
    border-radius: 10px;
    text-align: center;
    transform: scale(1.2);
    color: white;
}

.pokeType{
    background-color: white;
    grid-area: type;
}

.pokeWeaknesses{
    background-color: white;
    grid-area: weakness;
}

.pokeWeaknesses ul{
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    place-items: center;
}
